@model List<StellerAcunMedyaAkademiPortfolio.Models.TblFeature>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Öne Çıkan Sayfası</h2>

<table class="table table-bordered table-hover">
    <!-- "bordered" kenarlıklı br tablo yapar. -->

    <tr>
        <th>#</th>
        <th>Resim</th>
        <th>Başlık</th>
        <th>Ad Soyad</th>
        <th>Unvan</th>
        <th>Cv Linki</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>

    @foreach (var item in Model) //html sayfalarında c# kodları  @ ile yazılır.
    {
        <tr>
            <th>@item.FeatureID</th>
            <td><img src="@item.ImageUrl" style="height:50px;width:50px" />   </td>
            <td>@item.Title</td>
            <td>@item.NameSurname</td>
            <td>@item.Job</td>
            <td><a href="@item.CvDownloadUrl" target="_blank">Cv Download Linki</a>  </td>
            <td><a href="/Feature/DeleteFeature/@item.FeatureID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Feature/UpdateFeature/@item.FeatureID" class="btn btn-outline-info">Güncelle</a></td>
        </tr>
    }




</table>

<br />

<a href="/Feature/AddFeature" class="btn btn-outline-primary">Yeni Öne Çıkan Alanı</a>

