@model List<StellerAcunMedyaAkademiPortfolio.Models.TblContact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h2>İletişim Bilgileri</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Telefon</th>
        <th>Email</th>
        <th>Adres</th>
        <th>Harita Url</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Phone  </td>
            <td>@item.Email</td>
            <td>@item.Address</td>
            <td><a href="@item.MapUrl" target="_blank">Harita Linki</a> </td>

            <td><a href="/Contact/DeleteContact/@item.ContactID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Contact/UpdateContact/@item.ContactID" class="btn btn-outline-info">Güncelle</a></td>
        </tr>
    }




</table>

<br />

<a href="/Contact/AddContact" class="btn btn-outline-primary">Yeni İletişim Bilgisi</a>

