@model StellerAcunMedyaAkademiPortfolio.Models.TblAbout
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Hakkımda Güncelleme Sayfası</h3>
<br />

<form method="post">

    <input type="hidden" name="AboutId" value="@Model.AboutID" />
    <label>Resim Url</label>
    <input type="text" name="ImageUrl" value="@Model.ImageUrl" class="form-control" />
    <br />
    <label>Ad Soyad</label>
    <input type="text" name="NameSurname" value="@Model.NameSurname" class="form-control" />
    <br />
    <label>Unvan</label>
    <input type="text" name="Title" value="@Model.Title" class="form-control" />
    <br />
    <label>Başlık</label>
    <input type="text" name="Description" value="@Model.Description" class="form-control" />
    <br />

    <button class="btn btn-outline-primary">Güncelle</button>

</form>

